/* Theme: Classic Theme */
body {
  margin: 2px;
  padding: 2px; }

.main {
  color: #444; }

body {
  background: #bcbcbc; }

/* Plugin: Awesome Sauce */
.plugin-widget {
  background: red;
  color: #fff; }
