/* Theme: classic */
body {
  margin: 2px;
  padding: 2px;
}

.main {
  color: #444;
}

body {
  background: black;
}

/* Plugin: awesome-sauce */
.plugin-widget {
  background: red;
  color: #fff;
}

/* Plugin: stylesheets */
.css-plugin {
  background: #fed;
}

body {
  display: table;
}

body {
  background: #aaa111;
}

div {
  display: table;
}
